<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {% if form.errors %}
            {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                {% for error in form.name.errors %}<div class="invalid-feedback">{{error}}</div>{% endfor %}
            {% else %}
                {{ form.name(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                <div class="valid-feedback">Looks good!</div>
            {% endif %}
        {% else %}
            {{ form.name(class="form-control", type="text", spellcheck="true", aria_describedby="nameHelp") }}
        {% endif %}
        <div id="nameHelp" class="form-text">{{ form.name.description }}</div>
    </div>
    <div class="mb-3">
        {{ form.colour.label(class="form-label") }}
        {% if form.errors %}
            {% if form.colour.errors %}
                {% for subfield in form.colour %}
                <div class="form-check mb-3">
                    {{ subfield(class="form-check-input is-invalid", type="radio") }}
                    {{ subfield.label(class="form-check-label") }}
                    {% for error in form.colour.errors %}<div class="invalid-feedback">{{error}}</div>{% endfor %}
                </div>
                {% endfor %}
            {% else %}
                {% for subfield in form.colour %}
                <div class="form-check">
                    {{ subfield(class="form-check-input is-valid", type="radio") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
                {% endfor %}
            {% endif %}
        {% else %}
            {% for subfield in form.colour %}
            <div class="form-check">
                {{ subfield(class="form-check-input", type="radio") }}
                {{ subfield.label(class="form-check-label") }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="d-grid gap-3 d-sm-block">
        <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Save</button>
    </div>
</form>