{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="d-grid gap-3 mb-3">
            <a class="btn btn-primary btn-lg" href="{{ url_for('thing.create') }}"><i class="bi bi-plus-lg"></i> New thing</a>
        </div>
        <div class="card mb-3">
            <div class="card-header">Sort and filter</div>
            <form action="" method="get" novalidate>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ form.sort.label(class="form-label") }}
                        {{ form.sort(class="form-select mb-2") }}
                    </li>
                    <li class="list-group-item">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control mb-2", type="text") }}
                    </li>
                    <li class="list-group-item">
                        {{ form.colour.label(class="form-label") }}
                        {% for subfield in form.colour %}
                            <div class="form-check">
                                {{ subfield(class="form-check-input", type="radio") }}
                                {{ subfield.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                    </li>
                </ul>
                <div class="card-body">
                    <div class="d-grid gap-3">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-funnel"></i> Apply</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-9">
        {% if things %}
        <p class="lead">
            {{ things|length }} {% if things|length == 1 %}thing{% else %}things{% endif %}
            <a class="btn btn-secondary float-end" href="{{ url_for('thing.download', sort=request.args.get('sort'), name=request.args.get('name'), colour=request.args.get('colour')) }}"><i class="bi bi-download"></i> Download</a>
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Colour</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for thing in things %}
                        <tr>
                            <th scope="row"><a href="{{ url_for('thing.view', id=thing.id) }}">{{ thing.name }}</a></th>
                            <td>{{ thing.colour | title }}</td>
                            <td>
                                <a href="{{ url_for('thing.edit', id=thing.id) }}"><i class="bi bi-pencil-square"></i> Edit</a><br>
                                <a href="{{ url_for('thing.delete', id=thing.id) }}" class="link-danger"><i class="bi bi-trash"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="lead">0 things</p>
        {% endif %}
    </div>
</div>
{% endblock %}