{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('thing.list') }}">Things</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
        {{ super() }}
        <h1 class="text-truncate">{{ title }}</h1>
        <hr>
        {% include '_thing_description.html' %}
        <div class="d-grid gap-3 d-sm-block">
            <a class="btn btn-primary" href="{{ url_for('thing.edit', id=thing.id) }}"><i class="bi bi-pencil-square"></i> Edit</a>
            <a class="btn btn-danger" href="{{ url_for('thing.delete', id=thing.id) }}"><i class="bi bi-trash"></i> Delete</a>
        </div>
    </div>
</div>
{% endblock %}