black==21.4b2
flake8==3.9.1
pip-tools==6.1.0
piprot==0.9.11
pytest-cov==2.11.1
pytest==6.2.3
safety==1.10.3
# Generated with piprot 0.9.10
# Looks like you've been keeping up to date, time for a delicious beverage!