{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {{ super() }}
        <h1>Hello, World!</h1>
        <p class="lead">This is a template <a href="https://flask.palletsprojects.com">Flask</a> app using the <a
                href="https://getbootstrap.com/">Bootstrap</a> UI framework. The app is structured based on best
            practices and experience gained through previous projects. By using a template repository you can <a
                href="https://github.com/MashSoftware/flask-bootstrap-ui/generate">generate a new repository</a> with
            the same directory structure and files to get a new project started quicker.</p>

        <h2 id="features">Features</h2>
        <p>This template repository uses a number of packages to provide the following features with sensible defaults.
        </p>

        <h3 id="asset-compression">Asset compression</h3>
        <p>Custom CSS and JavaScript files are merged and compressed using <a
                href="https://flask-assets.readthedocs.io/en/latest">Flask Assets</a> and <a
                href="https://webassets.readthedocs.io/en/latest">Webassets</a>. This takes all <code>*.css</code> files
            in <code>app/static/src/css</code> and all <code>*.js</code> files in <code>app/static/src/js</code> and
            outputs a single compressed file to both <code>app/static/dist/css</code> and
            <code>app/static/dist/js</code> respectively.
        </p>

        <p>CSS is <a href="https://en.wikipedia.org/wiki/Minification_(programming)">minified</a> using
            <a href="https://github.com/zacharyvoase/cssmin">CSSMin</a> and JavaScript is minified using <a
                href="https://github.com/tikitu/jsmin">JSMin</a>. This removes all whitespace characters, comments and
            line breaks to reduce the size of the source code, making its transmission over a network more efficient.
        </p>

        <h3 id="cache-busting">Cache busting</h3>
        <p>Merged and compressed assets are browser cache busted on update by modifying their URL with their MD5 hash
            using <a href="https://flask-assets.readthedocs.io/en/latest">Flask Assets</a> and <a
                href="https://webassets.readthedocs.io/en/latest">Webassets</a>. The MD5 hash is appended to the file
            name, for example
            <code>custom-d41d8cd9.css</code> instead of a query string, to support certain older browsers and proxies
            that ignore
            the querystring in their caching behaviour.
        </p>

        <h3 id="security-headers">Security headers</h3>
        <p>Uses <a href="https://github.com/GoogleCloudPlatform/flask-talisman">Flask Talisman</a> to set HTTP headers
            that can help protect against a few common web application security issues.</p>
        <ul>
            <li>Forces all connects to <code>https</code>, unless running with debug enabled.</li>
            <li>Enables <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security">HTTP
                    Strict Transport Security</a>.</li>
            <li>Sets Flask's session cookie to <code>secure</code>, so it will never be set if your application is
                somehow accessed via a non-secure connection.</li>
            <li>Sets Flask's session cookie to <code>httponly</code>, preventing JavaScript from being able to access
                its content.</li>
            <li>Sets <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options">X-Frame-Options</a>
                to <code>SAMEORIGIN</code> to avoid <a
                    href="https://en.wikipedia.org/wiki/Clickjacking">clickjacking</a>.</li>
            <li>Sets <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection">X-XSS-Protection</a>
                to enable a cross site scripting filter for IE and Safari (note Chrome has removed this and Firefox
                never supported it).</li>
            <li>Sets <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options">X-Content-Type-Options</a>
                to prevent content type sniffing.</li>
            <li>Sets a strict <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy">Referrer-Policy</a>
                of <code>strict-origin-when-cross-origin</code> that governs which referrer information should be
                included with requests made.</li>
        </ul>

        <h3 id="content-security-policy">Content Security Policy</h3>
        <p>A strict default <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">Content Security Policy</a>
            (CSP) is set using <a href="https://github.com/GoogleCloudPlatform/flask-talisman">Flask
                Talisman</a> to mitigate <a
                href="https://developer.mozilla.org/en-US/docs/Web/Security/Types_of_attacks#cross-site_scripting_xss">Cross
                Site Scripting</a> (XSS) and packet sniffing attacks. This prevents loading any resources that are not
            in the same domain as the application,
            with the following exceptions:</p>
        <ul>
            <li><code>style-src</code> and <code>script-src</code> can be loaded from the Bootstrap CDN over HTTPS only.
                These resources also use <a
                    href="https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity">Subresource
                    Integrity</a> (SRI) to specify a base64-encoded sha384 cryptographic hash for additional security.
            </li>
            <li>To enable Bootstrap components that <a
                    href="https://getbootstrap.com/docs/5.0/customize/overview/#csps-and-embedded-svgs">include embedded
                    SVGs</a>, an additional policy of <code>img-src data: 'self'</code> has also been added.</li>
        </ul>

        <h3 id="response-compression">Response compression</h3>
        <p>Uses <a href="https://github.com/colour-science/flask-compress">Flask Compress</a> to compress response data.
            This inspects the <code>Accept-Encoding</code> request header, compresses using either gzip, deflate or
            brotli algorithms and sets the <code>Content-Encoding</code> response header. HTML, CSS, XML, JSON and
            JavaScript MIME types will all be compressed.</p>

        <h3>Rate limiting</h3>
        <p>Uses <a href="https://flask-limiter.readthedocs.io/en/stable">Flask Limiter</a> to set request rate limits on
            routes.
            The default rate limit is 2 requests per second <em>and</em> 60 requests per minite (whichever is hit first)
            based
            on the clients remote IP address. Every time a request exceeds the rate limit, the view function will not
            get called and instead a <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429">HTTP 429</a>
            status
            will be returned. If you're implementing user authentication using <a
                href="https://flask-login.readthedocs.io/en/latest">Flask
                Login</a> you should also use a <code>key_func</code> to identify users on routes that require
            authentication, for example:</p>
        <pre><code>@login_required<br>@limiter.limit("2 per second", key_func=lambda: current_user.id)</code></pre>
        <p>This fixes the issue of rate limiting multiple users behind a single IP NAT or proxy, since the request is
            identified using a different unique value for each user.</p>
        <p>Rate limit storage can be backed by <a href="https://redis.io">Redis</a> using the
            <code>RATELIMIT_STORAGE_URL</code> config value in <code>config.py</code>, or fall back to in-memory if not
            present. Rate limit information will also be added to various <a
                href="https://flask-limiter.readthedocs.io/en/stable/#rate-limiting-headers">response headers</a>.
        </p>
    </div>
</div>
{% endblock %}