{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {{ super() }}
        <h1>Hello, World!</h1>
        <p class="lead">This is a template <a href="https://flask.palletsprojects.com">Flask</a> app using the <a
                href="https://getbootstrap.com/">Bootstrap</a> UI framework. You can <a
                href="https://github.com/MashSoftware/flask-bootstrap-ui/generate" class="govuk-link">generate a new
                repository</a> using this template to get a new project started quicker.
        </p>
    </div>
</div>
{% endblock %}