<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {% if form.errors %}
            {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                {% for error in form.name.errors %}<div class="invalid-feedback">{{error}}</div>{% endfor %}
            {% else %}
                {{ form.name(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                <div class="valid-feedback">Looks good!</div>
            {% endif %}
        {% else %}
            {{ form.name(class="form-control", type="text", spellcheck="true", aria_describedby="nameHelp") }}
        {% endif %}
        <div id="nameHelp" class="form-text">{{ form.name.description }}</div>
    </div>
    <div class="mb-3">
        {{ form.location.label(class="form-label") }}
        {% if form.errors %}
            {% if form.location.errors %}
                <div id="mapid" class="card border-danger"></div>
                {{ form.location(class="is-invalid") }}
                {% for error in form.location.errors %}<div class="invalid-feedback">{{error}}</div>{% endfor %}
            {% else %}
                <div id="mapid" class="card border-success"></div>
                {{ form.location(class="is-valid") }}
                <div class="valid-feedback">Looks good!</div>
            {% endif %}
        {% else %}
            {{ form.location }}
            <div id="mapid" class="card"></div>
        {% endif %}
        <div id="nameHelp" class="form-text">{{ form.location.description }}</div>
    </div>
    <div class="d-grid gap-3 d-sm-block">
        <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Save</button>
    </div>
</form>