{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('point.list') }}">Points</a></li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
        </nav>
        {{ super() }}
        <h1>{{title}}</h1>
        <hr>
        {% include '_point_form.html' %}
        <script type="application/javascript" nonce="{{ csp_nonce() }}">
            // initialize Leaflet
            var map = L.map("mapid");

            // add the OpenStreetMap tiles
            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                maxZoom: 19,
                attribution:
                    '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
            }).addTo(map);

            //set map view to users geolocation
            map.locate({ setView: true, maxZoom: 16 });

            var marker = L.marker();

            function onMapClick(e) {
                marker
                    .setLatLng(e.latlng)
                    .addTo(map)
                    .bindPopup(
                    "Lon: " + e.latlng.lng.toString() + "<br>Lat: " + e.latlng.lat.toString()
                    )
                    .openPopup();
                document.getElementById("location").value = JSON.stringify(
                    marker.toGeoJSON().geometry
                );
            }

            map.on("click", onMapClick);
        </script>
    </div>
</div>
{% endblock %}