{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {{ super() }}
        <h1>Privacy Notice</h1>
        <h2>Our contact details</h2>
        <h2>The type of personal information we collect</h2>
        <h2>How we get the personal information and why we have it</h2>
        <h2>How we store your personal information</h2>
        <h2>Your data protection rights</h2>
        <p>Under data protection law, you have rights including:</p>
        <p><strong>Your right of access</strong> - You have the right to ask us for copies of your personal information.</p>
        <p><strong>Your right to rectification</strong> - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.</p>
        <p><strong>Your right to erasure</strong> - You have the right to ask us to erase your personal information in certain circumstances.</p>
        <p><strong>Your right to restriction of processing</strong> - You have the right to ask us to restrict the processing of your personal information in certain circumstances.</p>
        <p><strong>Your right to object to processing</strong> - You have the the right to object to the processing of your personal information in certain circumstances.</p>
        <p><strong>Your right to data portability</strong> - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</p>
        <p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</p>
        <p>Please contact us at [insert email address, phone number and or postal address] if you wish to make a request.</p>
        <h2>How to complain</h2>
        <p>If you have any concerns about our use of your personal information, you can make a complaint to us at [Insert your organisation’s contact details for data protection queries].</p>
        <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
        <p>The ICO’s address:</p>
        <address>
            Information Commissioner’s Office<br>
            Wycliffe House<br>
            Water Lane<br>
            Wilmslow<br>
            Cheshire<br>
            SK9 5AF
        </address>
        <p>Helpline number: 0303 123 1113</p>
        <p>ICO website: <a href="https://www.ico.org.uk">https://www.ico.org.uk</a></p>
    </div>
</div>
{% endblock %}